<nb-layout>
  <nb-layout-header class="header-img">
    <div class="logo-center">
        <img src="/assets/images/logo/elara-logo.jpg" height="77px" width="420px">
      </div>
    </nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <div>
        <h1 class="card-header">Members</h1>
        <p class="card-description">Customers can register as Member to this program by creating an account number for identification on the network and access card to sign-in. Once registered they can sign in, to make transactions to earn points and use points, and view all their transactions.</p>
        <div>
          <button class="btn btn-info card-button" [routerLink]="['/auth/login']">Sign In</button>
          <button class="btn btn-info card-button" [routerLink]="['/auth/register']">Registration</button>
        </div>
      </div>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card>
      <h1 class="card-header">Partners</h1>
      <p class="card-description">For companies part of the program, they can register as Partner on the network by creating an Id on the network and access card to sign-in. They can sign-in to view all transactions made with them and dashboard to view total points allocated and redeemed by members.</p>
      <div class="content-data">
        <button class="btn btn-info card-button" [routerLink]="['/auth/login']">Sign In</button>
        <button class="btn btn-info card-button" [routerLink]="['/auth/register']">Registration</button>
      </div>
    </nb-card>
  </nb-layout-column>
</nb-layout>
